# Ignorar a pasta do ambiente virtual
venv/
.env

# Ignorar arquivos de cache do Python
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
env/
.env
.env.local
.env.development
.env.test
.env.production
venv/
*.log

# Ignorar a pasta de relatórios (opcional, se não quiser commitar relatórios)
reports/